.signup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  margin: 2%;
}

.signup-form input {
  width: 70%;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #d5d7d8;
}

.signup-form input:focus {
  border: 1px solid #ed6762;
}
.signup-form input[type="submit"] {
  background: #ed6762;
  color: #fff;
  font-weight: bold;
}
