.signup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  margin: 2%;
}

.signup-form input {
  width: 70%;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #d5d7d8;
}

.signup-form input:focus {
  border: 1px solid #ed6762;
}
.signup-form input[type="submit"] {
  background: #ed6762;
  color: #fff;
  font-weight: bold;
}

.signup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar p {
  font-size: 2.5vw;
  margin: 0;
  padding: 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  width: 400px;
  height: 250px;
  border-radius: 50px;
  margin: 2%;
}

.signup-form input {
}

.signup-form input[type="text"] {
  width: 300px;
  height: 30px;
  font-size: 20px;
  margin: 5px 0;
}

.signup-form input[type="submit"] {
  width: 100px;
  height: 30px;
  font-size: 18px;
  margin: 15px 0 0 0;
}

.user-profile {
  display: grid;
  grid-gap: 25px;
  width: 100vw;
  justify-content: center;
  grid-template-columns: repeat(8, 1fr);
}

.nav-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  grid-column: 7 / -1;
}

.nav-user button {
  margin-right: 7.5%;
  height: 25px;
}

.user-info {
  display: grid;
  grid-column: 1 / span 2;
}

.img-container {
  display: flex;
  justify-content: center;
  grid-column: 7 / span 1;
}

.interests {
  grid-column: 1 / span 6;
}

.user-bio {
  display: flex;
  justify-content: center;
  grid-column: 7;
  flex-direction: column;
}

.user-bio p {
  width: 200px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}
