body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 95px;
}
header h1 {
  text-indent: -100000px;
  font-size: 5px;
}
header .logo {
  width: 150%;
}
.navbar {
  grid-column: 14 / span 4;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1px;
  padding-top: 20px;
  background-color: 0 !important;
  box-shadow: none !important;
}
nav a {
  text-decoration: none;
  color: rgba(46, 62, 72, 0.6);
  align-self: center;
}
nav a:hover {
  color: #00a2c7;
}
.brand {
  grid-column-start: 2;
}

.banner {
  min-height: 460px;
  background: url("../images/collab.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-position: center;
  background-size: cover;
}
.banner .btn {
  padding: 15px 75px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #ed6762;
  text-decoration: none;
  color: #fff;
}
.banner h2 {
  font-size: 2.2em;
}
.banner h5 {
  font-size: 1.2em;
}
.profile-photo {
  width: 30%;
  border-radius: 50%;
  grid-column: 15;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
